<section class="section">
  <div class="container about-container">
    <h2 class="title">Title</h2>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptas a
      suscipit, exercitationem ratione eaque eius facilis repellendus similique
      recusandae excepturi aliquam magnam laboriosam molestiae quos neque vel
      amet possimus beatae odit repellat ipsum, iusto architecto quis?
      Voluptatem dolore eligendi accusantium.
    </p>
    <button type="button">BTN</button>
    <img src="../img/javascript.svg" alt="" />
  </div>
</section>
